* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
font-family: Arial, sans-serif;
background-color: rgba(0, 0, 0, 0.61);
color: #333;
}

a {
text-decoration: none;
color: #333;
}

h1, h2, h3 {
    font-weight: bold;
    }

/* header style*/

.header {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    color: white;
}

.header nav {
    display: flex;
    gap: 20px;
}

.header nav a {
    color: white;
    font-weight: bold;
}

.header nav a:hover {
    text-decoration: underline;
    color: rgb(235, 252, 9);
}

/* footer style*/

footer {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 20px;
}

footer p {
    margin: 0;
}

/* home page style*/
.hero {
    background-size: cover;
    background-position: center;
    height: 80vh;
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
    color: white;
    padding-right: 150px;
}

.hero h1 {
    font-size: 30px;
    text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 16px;
    margin-top: 10px;
}

.hero button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #3f3e3e;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero button:hover {
    background-color: rgb(235, 252, 9);
    color: black;
}
